ignore-workspace-root-check=true
registry = "https://registry.npmmirror.com"
public-hoist-pattern[]=husky
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier

strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
